body {
  width: 960px;
  font-family: "Barlow", sans-serif;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.container {
  border-radius: 8px;
  height: 735px;
  margin: 20px 30px;
  padding: 10px 15px;
  color: #ffe79a;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}
