.card {
  width: 10rem;
  height: 18rem;
  margin: 20px 20px 20px 80px;
  transition: all 200ms ease-in-out;
}
.card-body {
  background-color: #ffe79a;
  color: #212121;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #212121;
  color: #ffe79a;
}
.card-img-top {
  height: 10rem;
}
a {
  color: #ffe79a;
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  color: #ffe79a;
  opacity: 50%;
  text-decoration: underline;
}
