h1,
.timeNplace p {
  text-transform: capitalize;
  margin: 20px 0 20px 20px;
  line-height: 8px;
}
.text {
  font-size: 36px;
}
h2 {
  margin: 30px;
  border: 1px solid #ffe79a;
  border-radius: 50%;
  text-align: center;
  padding: 0 30px 25px 30px;
}
.text-h2 {
  font-size: 48px;
}
form {
  width: 200px;
  margin: 20px;
  display: flex;
  gap: 5px;
}
.search-button {
  border-radius: 4px;
  background-color: #ffe79a;
  color: #212121;
  transition: all 100ms ease-in;
}
.search-button:hover {
  background-color: #212121;
  color: #ffe79a;
}

.enterCity {
  background-color: #ffe79a;
}

.celsius-temp {
  font-weight: lighter;
}
.description {
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.location-button {
  transition: all 150ms ease ease-in-out;
  color: #212121;
  background-color: #ffe79a;
  border-radius: 4px;
  margin: 120px 0 20px 20px;
  opacity: 70%;
}
.location-button:hover {
  cursor: pointer;
  background-color: #212121;
  color: #ffe79a;
}

.celsius-temp {
  font-weight: lighter;
}
.description {
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.grid {
  margin-bottom: 36pxpx;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.elements {
  text-align: center;
  margin: 40px auto;
  padding: 5px;
  line-height: 24px;
  border-radius: 8px;
  background-color: #212121;
  color: #ffe79a;
  display: block;
  width: 300px;
  letter-spacing: 1px;
  word-spacing: 3px;
}
